{% extends 'base.html.twig' %}
{% block body %}
<main class="h-100">
    {# HOME #}
    <section id="home_image">
        <span>
            <h3 class="slogan">Envie de découvrir les figures </br>les plus époustouflantes en snowboard ?</h3>
        </span>
        <a href="#all_tricks">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
        </a>
    </section>  
    {# SECTION TRICK #}
    <section id="all_tricks"  class='flex_container'>
        {% for trick in tricks %}
            {% if trick is defined and trick is not empty %}
                <div class="card-container card-item">
                    <img class ="tricks_home" src="{{ asset('uploads/' ~  trick.mainImage) }}" alt="{{ trick.name  }}" />
                      <a href="{{ path('trick_show', {'tricks': trick.name}) }}" class="text-decoration-none">{{ trick.name }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    {% if app.user == trick.user %}
                        <a href="{{ path('trick_delete', {'id': trick.id, 'delete': 'true'}) }}" onclick="return confirm('Are you sure you want to delete this trick?')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    {% endif %}
                </div>
            {% endif %}      
        {% endfor %}
    </section>   
    <div class="card-actions">
        <button id="load-more" class="btn btn-primary">Plus</button>
        <span>Montrer 
            <span id="card-count"></span> sur 
            <span id="card-total"></span>      
        </span>
    </div>
</main>
{% endblock %}
