{% extends 'base.html.twig' %}
{% block body %}
<main class="h-100">
        <section id="detail_main_image">
        <h3 class="title_detail">{{detailTrick.name}}</h3>
            <img class ="tricks_details" src="{{ asset('uploads/' ~ detailTrick.mainImage) }}" alt="{{ detailTrick.name  }}" />
            <a href="{#{{ path('_profiler_edit_trick', {'id': detailTrick.id}) }}#}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
            </a>
            {% if app.user == detailTrick.user %}
                <a href="{{ path('trick_delete', {'id': detailTrick.id, 'delete': 'true'}) }}" onclick="return confirm('Are you sure you want to delete this trick?')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
            {% endif %}
           
        </section>  
      <div class="text-center m-4">
        <p>{{detailTrick.description}}</p>
    </div>
    {% if detailTrick.images|length > 0 %}
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for image in detailTrick.images %}
                    <div class="col">
                        <img src="{{ asset('/uploads/' ~ image.path) }}" class="img-fluid" alt="{{ image.path }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if detailTrick.videos|length > 0 %}
        <div class="container mt-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for video in detailTrick.videos %}
                    <div class="col">
                        <div class="video-container">
                            <iframe width="100%" height="315" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}



    <div class ="info_detail">
        <p>{{ detailTrick.getCreatedAt()|date('d/m/Y H:i:s') }}</p>
        <p>{{ detailTrick.getUpdatedAt()|date('d/m/Y H:i:s') }}</p>
        <p>Admin</p>
        {# <p>{{detailTrick.user}}</p> #}
    </div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="form_comment">
        <h5>Ajouter un commentaire</h5>
        {{ form_start(form) }}
        {{ form_row(form.content) }}
        {{ form_row(form.save, {'method': 'POST'}) }}
        {{ form_end(form) }}
    </div>
{% endif %}

    <div  class="m-4">
        <h5>Espace commentaires</h5>
        <div  class="text-center m-4">
            {% for comment in showComments %}
                {% if comment is not empty %}
                    <div class="comment">
                        <span class="comment-author">{{ comment.author.email }}</span>
                        <span class="comment-content">{{ comment.content }}</span>
                    </div>
                {% else %}
                <p>Vous n'avez aucun commentaire</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</main>
{% endblock %}
